*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Karla', sans-serif;
    background-color: #000;
    color: #fff;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

header{
    padding-top: 30px;
    min-height: 70px;
}

header a{
    text-decoration: none;
    font-size: 16px;
    color: #F2B636;
}

header li{
    display: inline;
    float: left;
    padding: 0px 20px 0 20px;
}

header #logo{
    float: left;
}

header #logo h1{
    font-size: 20px;
    margin-top: 10px;
}

.logo-highlight{
    color:#F2B636;
}
header nav{
    float: right;
    padding-top: 10px;
}

#hero-heading{
    min-height: 400px;
}

#hero-heading h2{
    margin: 200px 0 12px 0;
    font-size: 45px;
    letter-spacing: 0.2px;
    font-weight: 400;
}

#hero-heading p{
    color: #F2B636;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 30px;
}

#hero-heading .btn-1, .btn-2{
    height: 30px;
    background-color: inherit;
    border: 2px solid #F2B636;
    color: #F2B636;
    padding: 0 30px 0 30px;
    border-radius: 1px;
}

#hero-heading a{
    text-decoration: none;
    color: #F2B636;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
}

.btn-2{
    margin-left: 20px;
}

#sub-lead-heading-projects{
    margin-top: 100px;
}

#sub-lead-heading-services{
    margin-top: 100px;
}

#sub-lead-heading-projects p{
    font-size: 22px;
    font-weight: 400;
}

#sub-lead-heading-services p{
    font-size: 22px;
    font-weight: 400;
}

#projects-box{
    margin-top: 40px;
}

#projects-box .p-box{
    float: left;
    width: 30%;
    text-align: left;
}

#projects-box img{
    width: 350px;
    border-radius: 1px;
}

#projects-box-2{
    margin-top: 60px;
}

#projects-box-2 .p-box-2{
    float: left;
    width: 30%;
    text-align: left;
}

#projects-box-2 img{
    width: 350px;
    border-radius: 1px;
}

#services-box{
    margin-top: 40px;
}

#services-box .s-box-1{
    float: left;
    width: 30%;
}

#services-box-2{
    margin-top: 40px;
}

#services-box-2 .s-box-2{
    float: left;
    width: 30%;
}

#end-lead-sub-heading{
    margin-top: 150px;
}

#contact-box{
    margin-top: 20px;
}

#contact-box .c-box-1{
    float: left;
    width: 25%;
}

#contact-box h2{
    color: #F2B636;
    font-size: 17px;
    padding-bottom: 5px;
}

#contact-box a{
    text-decoration: none;
    color: #fff;
}

footer{
    margin-top: 100px;
    text-align: center;
}

footer p{
    padding-bottom: 20px;
}

footer li{
    display: inline;
    padding: 20px;
}

footer a{
    text-decoration: none;
    color: #F2B636;
}


@media (max-width: 767px){
    header #logo, header nav, header nav li, #projects-box .p-box, #projects-box-2 .p-box-2, 
    #services-box .s-box-1, #services-box-2 .s-box-2, #contact-box .c-box-1, #contact-box .c-box-2{
        float: none;
        text-align: center;
        width: 100%;
    }

    header #logo h1{
        font-size: 18px;
        font-weight: 400;
        margin-top: -5px;
    }

    header nav li{
        padding: 0 10px 0 10px;
    }

    #hero-heading h2{
        margin: 100px 0 10px 0;
        font-size: 27px;
        text-align: center;
    }

    #hero-heading p{
        font-size: 15px;
        text-align: center;
        padding-bottom: 20px;
    }

    .btn-lead{
        text-align: center;
    }

    #sub-lead-heading-projects{
        margin-top: -100px;
    }

    footer li{
        padding: 10px;
    }
}
