*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Karla', sans-serif;
    background-color: #000;
    color: #fff;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

header{
    padding-top: 30px;
    min-height: 70px;
}

header a{
    text-decoration: none;
    font-size: 16px;
    color: #F2B636;
}

header li{
    display: inline;
    float: left;
    padding: 0px 20px 0 20px;
}

header #logo{
    float: left;
}

header #logo h1{
    font-size: 20px;
    margin-top: 10px;
}

.logo-highlight{
    color:#F2B636;
}
header nav{
    float: right;
    padding-top: 10px;
}

#hero-heading{
    min-height: 400px;
}

#hero-heading h2{
    margin: 200px 0 12px 0;
    font-size: 45px;
    letter-spacing: 0.2px;
    font-weight: 400;
}

#hero-heading p{
    color: #F2B636;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 30px;
}

#hero-heading .btn-1, .btn-2{
    height: 30px;
    background-color: inherit;
    border: 2px solid #F2B636;
    color: #F2B636;
    padding: 0 30px 0 30px;
    border-radius: 1px;
}

#hero-heading a{
    text-decoration: none;
    color: #F2B636;
    font-family: 'Karla', sans-serif;
}

.btn-2{
    margin-left: 20px;
}
